<section>
  <h2>Перезамовте Багаж</h2>
  <label>
    <p>Дропдаун</p>
    <select>
      <option>Select option</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </label>
  <label>
    <p>Дропдаун</p>
    <select>
      <option>Select option</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </label>
</section>
