<section class="information">
  
  <div class="information__left">
    <h2 class="information__title">Information</h2>
    <ul>
      <li><p class="information__text">Info Number:<span class="information__text-data">903049</span></p></li>
      <li><p class="information__text">Pick up Place:<span class="information__text-data">Sweden</span></p></li>
    </ul>
  </div>
  <div class="information__right">
    <h3>We are here</h3>
    <p>Long time to go</p>
    <!-- <img src="" alt="" /> -->
  </div>
</section>
