<section class="nav-bar">
  <ul>
    <li class="nav-bar__item">
      <a class="nav-bar__link" href="#">
        <svg class="icon icon-home-line" width="24" height="24">
          <use xlink:href="./images/icon/sprite.svg#icon-home-line"></use></svg
        >Головна</a
      >
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link" href="#">
        <svg class="icon icon-bar-chart-square-02" width="24" height="24">
          <use
            xlink:href="./images/icon/sprite.svg#icon-bar-chart-square-02"
          ></use></svg>Сторінка1</a
      >
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link" href="#">
        <svg class="icon icon-layers-three-01" width="24" height="24">
          <use
            xlink:href="./images/icon/sprite.svg#icon-layers-three-01"
          ></use></svg
        >Сторінка2</a
      >
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link" href="#">
        <svg class="icon icon-check-done-01" width="24" height="24">
          <use
            xlink:href="./images/icon/sprite.svg#icon-check-done-01"
          ></use></svg
        >Сторінка3</a
      >
    </li>
  </ul>

  <a class="nav-bar__link" href="#"
    ><svg class="icon icon-settings-01" width="24" height="24">
      <use xlink:href="./images/icon/sprite.svg#icon-settings-01"></use></svg
    >Налаштування</a
  >
</section>
