<section class="state">
  <h1 class="state__title">Start</h1>
  <div class="state__container">
    <ul class="state__list">
      <li class="state__item">
        <div class="state__oval state__oval--done"></div>
        <p class="state__text">Стан1</p>
      </li>
      <li class="state__item">
        <div class="state__oval state__oval--in-process"></div>
        <p class="state__text">Стан2</p>
      </li>
      <li class="state__item">
        <div class="state__oval state__oval--unfinished"></div>
        <p class="state__text">Стан3</p>
      </li>
      <li class="state__item">
        <div class="state__oval state__oval--unfinished"></div>
        <p class="state__text">Стан4</p>
      </li>
      <li class="state__item">
        <div class="state__oval state__oval--unfinished"></div>
        <p class="state__text">Стан5</p>
      </li>
    </ul>
  </div>
</section>
